<!doctype html>
<html>
  <head>
    {% include 'header.html.jinja' %}
    {% block js_and_css %} {% endblock %}
  </head>
  <body>
    <div id="main">
      {% block content %}{% endblock %}
    </div>
  </body>
  {% include 'footer.html.jinja' %}
</html>
