<div
  id="day{{ day_number }}"
  class="container border border-dark border-4 rounded-3 my-4"
>
  <h2 class="mt-2" id="day-title-{{ day_number }}"></h2>
  <div class="container">
    {% for exercice in range(1, 3) %}
    <div id="day{{ day_number }}-{{ exercice }}" class="mb-3">
      <h4 class="text-primary">
        <a href="{{ day_link }}"> >Exercice {{ exercice }} </a>
      </h4>
      <h5 class="ms-2 text-decoration-underline text-secondary">State</h5>
      <div class="ms-4" id="state-{{ day_number }}-{{ exercice }}"></div>
      <h5 class="ms-2 text-decoration-underline text-success">Solution</h5>
      <div class="ms-4 spoiler">
        <pre
          class="rounded ps-2"
          id="code-{{ day_number }}-{{ exercice }}"
        ></pre>
        <span id="result-{{ day_number }}-{{ exercice }}"></span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!--
Faire une seul scirpt pour les nom du jour (avec des id)
Faire une seul scirpt pour le code (avec des id)
Faire une seul scirpt pour les solution (avec des id)

OU
+1
Faire un script par jour mais avec des fonction dans utils
et les mettre en debut de page
-->
