{% extends 'base.html' %}
{% block title %} Advent of code 2025 {% endblock %}
{% block js_and_css %}
<script
  type="py"
  src="www/script/display_utils.py"
  config="www/script/pyconfig.toml"
></script>
<script
  type="py"
  src="www/script/days/day_1.py"
  config="www/script/pyconfig.toml"
></script>
{#<script
  type="py"
  src="www/script/days/day_2.py"
  config="www/script/pyconfig.toml"
></script>#}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="text-center mt-4">Advent of code 2025</h1>
  <div class="container">
    Advent of Code is an Advent calendar of small programming puzzles for a
    variety of skill levels that can be solved in any programming language you
    like. People use them as interview prep, company training, university
    coursework, practice problems, a speed contest, or to challenge each other.
  </div>
  <nav>
    <div class="nav nav-tabs container mt-3" role="tablist">
      {% for day in days %}
        {% if loop.index0 == 0 %}
          {% set active_class = "show active" %}
        {% endif %}
        <button
          class="nav-link {{ active_class }}"
          id="nav-day{{loop.index}}-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-day{{loop.index}}"
          type="button"
          role="tab"
          aria-controls="nav-day{{loop.index}}"
          aria-selected="true"
        >
          Day {{ loop.index }}
        </button>
      {% endfor %}
      <button
        class="nav-link"
        id="nav-utils-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-utils"
        type="button"
        role="tab"
        aria-controls="nav-utils"
        aria-selected="true"
      >
        Utils
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    {% for day in days %}
      {% if loop.index0 == 0 %}
        {% set active_class = "show active" %}
      {% endif %}
      <div
        class="tab-pane fade {{ active_class }}"
        id="nav-day{{loop.index}}"
        role="tabpanel"
        aria-labelledby="nav-day{{loop.index}}-tab"
      >
        {% with day_number=loop.index, day_link_1=day["part_1"], day_link_2=day["part_2"] %}
          {% include 'day.html' %}
        {% endwith %}
      </div>
    {% endfor %}
    <div
      class="tab-pane fade"
      id="nav-utils"
      role="tabpanel"
      aria-labelledby="nav-utils-tab"
    >
      <div
        class="container border border-dark border-4 rounded-3 my-4"
      >
        <h2 class="mt-2" id="utils-title"></h2>
        <div class="container">
          <div class="mb-3">
            <div class="ms-4 spoiler">
              <pre
                class="rounded ps-2"
                id="code-utils"
              ></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
