@font-face {
    font-family: PressStart2P;
    src: url(fonts/PressStart2P-Regular.ttf);
}

body {
    font-family: PressStart2P;
    background-color: #f0f8ff;
}

.spoiler {
    filter: blur(5px);
    transition-property: -webkit-filter;
    transition-duration: 0.2s;
}

.spoiler:hover,
.spoiler:focus {
    filter: blur(0px);
}

pre {
    background-color: #282a35;
    color: #f5f2e7;
}

a:not(nav a)::before {
    content: ">";
}

.nav-tabs {
    .nav-link {
        transition: None;
        color: black;
    }

    .nav-link[disabled] {
        color: #495057;
        background-color: #fff;
        pointer-events: none;
        cursor: default;
    }
}

.spinner-grow.pixel-square {
    border-radius: 0 !important;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    animation: pixel-step-grow 1s steps(4, end) infinite;
}

@keyframes pixel-step-grow {
    0% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    25% {
        transform: scale(0.75);
        opacity: 0.6;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(0.75);
        opacity: 0.6;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.3;
    }
}

.text-explanation {
    color: #ca7c0a;
}
